html{
	font-size: 1px;
}

.wrapper {
	max-width: 1440rem;
	margin: 0 auto;
}

body {
	font-family: $ff-second;
	font-size: 16rem;
}


.container {
	max-width: $container;
	margin-inline: auto;
}

